@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: wheat;
    min-width: 300px;
}

.game-container {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
}

.color-container {
    display: flex;
    justify-content: space-around;
}

h3, h1 {
    margin: 1rem 0;
}

.color {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
}

p {
    margin-top: 1rem;
    font-size: 1.6rem;
}